anaconda-mode/
auto-save-list/
autosaves/
bookmarks
eln-cache/
elpa/
eshell/
history
ielm-history.eld
image-dired/
lisp/private-stuff.el
mail-drafts/
multisession/
network-security.data
org-agenda-files
projectile-bookmarks.eld
projects
session.*
tramp
transient/
tree-sitter/
url/
