anaconda-mode/
auto-save-list/
autosaves/
bookmarks
elpa/
eshell/
history
image-dired/
lisp/private-stuff.el
mail-drafts/
network-security.data
org-agenda-files
projectile-bookmarks.eld
projects
session.*
tramp
url/
